body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.slot-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px; /* Altura da máquina caça-níqueis */
}

.reel-container {
  width: 90px;
  height: 190px; /* Altura da coluna de rotação */
  border: 4px dotted rgb(141, 74, 20);
  margin: 0 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  padding-top: 15px;
}

.reel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}

.symbol {
  font-size: 48px;
  padding: 1px;
  color: #FFD700;
}

.info {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.marker {
  width: 100%;
  height: 4px;
  background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 1; /* Certifique-se de que a linha esteja acima das colunas */
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin: 7px;
  font-size: 23px;
  padding: 10px 20px;
  border: none;
  background-color: #0074cc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  width: 32%;

}
#girar {
  width: 69%;
  padding: 25px 0;
}

.button:hover {
  background-color: #005ea6;
}

footer {
background-color: #333;
color: rgba(255, 255, 255, 0.5); /* Cor com opacidade (alpha) de 0.8 */
text-align: center;
padding: 10px 0px 10px 0px;
position: fixed;
bottom: 0;
width: 100%;
}

footer p {
margin: 0;
}

footer a {
text-decoration: none;
color: rgba(255, 255, 255, 1); /* Cor do texto com opacidade 1 (sem opacidade) */
}

footer a img {
width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
margin-bottom: -5px; /* Ajuste para alinhar melhor a imagem e o texto */
}

button#toggleSoundButton {
font-size: 16px;
padding: 10px 20px;
border: none;
background-color:#0074cc; /* Cor de fundo do botão */
color: white;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

button#toggleSoundButton:hover {
background-color: #005ea6; /* Cor de fundo do botão ao passar o mouse */
}

/* No seu arquivo css/styles.css */
.custom-spinner {
  font-size: 30px; /* Ajuste o tamanho conforme necessário */
  margin-left:7px;
  vertical-align: middle; /* Alinhe verticalmente conforme necessário */
  /* Adicione mais estilos conforme necessário */
  display: none; /* Inicialmente, oculte o spinner */
}

#girar {
  background-color: #4CAF50; /* Verde */
}

#girar:hover {
  background-color: #45a049; /* Verde mais escuro ao passar o mouse */
}


#apostar {
  background-color: #3498db; /* Azul */
}

#apostar:hover {
  background-color: #2980b9; /* Azul mais escuro ao passar o mouse */
}

#adicionar-dinheiro {
  background-color: #f39c12; /* Amarelo */
}

#adicionar-dinheiro:hover {
  background-color: #d68910; /* Amarelo mais escuro ao passar o mouse */
}

#adicionar-dinheiro {
  background-color: #f39c12; /* Amarelo */
}

#adicionar-dinheiro:hover {
  background-color: #d68910; /* Amarelo mais escuro ao passar o mouse */
}


